<!DOCTYPE html>
<html>
<head>
<title>Login Failed</title>

<style>
body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff416c,#ff4b2b);
font-family:Segoe UI,sans-serif;
}

.container{
text-align:center;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

h1{
color:red;
margin-bottom:15px;
}

p{
margin-bottom:20px;
}

a{
padding:12px 25px;
background:red;
color:white;
text-decoration:none;
border-radius:10px;
}
</style>

</head>
<body>

<div class="container">

<h1>❌ Login Failed</h1>

<p>Invalid Email or Password</p>

<a href="/login">Try Again</a>

</div>

</body>
</html>